.about-page {
    p {
        max-width: 80%;
        margin: 0 auto;
    }
    h2 {
        text-align: center;
    }

    .toolkit {
        display: flex;
        justify-content: space-between;
    }
}
