@use "variables" as *;
@use "mixins" as *;

/*---------- About Page ----------*/

.about-page {
    h2,
    h3 {
        text-align: center;
    }

    .entry-content p {
        max-width: 80%;
        margin: 2rem auto;
    }

    .toolkit {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .tool-list {
            margin: 0 2rem;
        }

        @include mq-large($tablet) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            max-width: 90rem;
            margin: 0 auto;
        }
    }

    .hidden {
        opacity: 0;
        transform: translateX(50%);
        transition: all 1.5s;
        margin-bottom: 5rem;
    }

    .visible {
        opacity: 1;
        transform: translateX(0%);
    }

    .hobbies {
        display: block;
        text-align: center;
    }
}

/*---------- Contact Page ----------*/

.contact-page {
    .entry-content {
        text-align: center;
        margin: 5rem auto;
    }

    .wp-block-social-links {
        display: flex;
        justify-content: center;
        gap: 1rem;

        svg {
            height: 3rem;
            width: auto;

            #{$link-hover-selector} {
                fill: $accent-blue;
            }
        }
    }

    .wp-block-portfolio-blocks-email-address {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: fit-content;
        margin: 0 auto;
        cursor: pointer;

        #{$link-hover-selector} {
            color: $accent-blue;
        }
    }

    .email-copied {
        display: none;
    }

    .hidden {
        opacity: 0;
        scale: 0.9;
        transition: all 1.5s;
    }

    .visible {
        opacity: 1;
        scale: 1;
    }
}
