@use "variables" as *;
@use "mixins" as *;

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    background: #f7f7f7;
}

main {
    margin: 6rem 0rem;

    @include mq-large($tablet) {
        margin: 8rem 4rem;
    }

    &.home-page {
        margin: 0 1rem;

        @include mq-large($tablet) {
            margin: 0 4rem;
        }
    }
}

// Elements
li {
    list-style: none;
}

figure {
    margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

h1 {
    position: relative;
    width: fit-content;

    &:after {
        content: "";
        position: absolute;
        width: 60%;
        height: 1rem;
        background-color: $accent-blue;
        bottom: 0.7rem;
        left: -1rem;
        z-index: -1;
    }

    @include mq-small($tablet) {
        margin-left: 2rem;
    }
}

.loading {
    display: block;
    margin: 0 auto;
}

.featured-image img {
    display: block;
    width: 100%;
    // height: 18.75rem;
    object-fit: cover;
}

.btn {
    border-radius: 0.5rem;
    background-color: $accent-coral;
    color: $primary-color;
    border: none;
    width: 9.5rem;
    padding: 0.5rem 0;
    cursor: pointer;
    box-shadow: $primary-color-lower-opacity 0px 2px 5px 0px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    // text-align: center;
}

.cursor {
    position: fixed;
    left: 0;
    top: 0;
    height: 2rem;
    width: 2rem;
    // border-radius: 50%;
    // background-color: $bg-color-light;
    // mix-blend-mode: difference;
    // background-image: url(../assets/cursor.svg);
    z-index: 2000;
    pointer-events: none;
}

.toggle-container {
    position: fixed;
    top: 1.7rem;
    right: 1rem;
    cursor: pointer;
    z-index: 2000;

    @include mq-small($tablet) {
        top: 0.8rem;
    }
}

// Responsive Media
img,
video {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

.loading-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

@media (prefers-reduced-motion) {
}

.page-not-found {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .error-img {
        max-width: 15rem;
    }

    a {
        display: inline-flex;
        align-items: flex-end;
        gap: 0.5rem;
        text-decoration: underline;

        &:hover {
            color: $accent-blue;
        }
    }

    .cursor-plane {
        height: 1.5rem;
    }
}
