@use "variables" as *;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #f7f7f7;
    min-height: 100vh;
}

main {
    margin: 10rem 4rem 0;
}

// Elements
li {
    list-style: none;
}

figure {
    margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

.loading {
    display: block;
    margin: 0 auto;
}

.featured-image img {
    display: block;
    width: 100%;
    height: 18.75rem;
    object-fit: cover;
}

.more-info-btn {
    border-radius: 0.5rem;
    background-color: $accent-coral;
    color: $primary-color;
    border: none;
    width: 9.5rem;
    padding: 0.5rem 0;
    cursor: pointer;
    box-shadow: $primary-color-lower-opacity 0px 2px 5px 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1rem;

    &:hover {
        text-indent: 2rem;
    }
}

.featured-work article {
    background-color: $secondary-color;
}

// Responsive Media
img,
video {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}
