@use "variables" as *;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #f7f7f7;
    min-height: 100vh;
}

main {
    margin: 10rem 4rem 0;
}

// Elements
li {
    list-style: none;
}

figure {
    margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

.loading {
    display: block;
    margin: 0 auto;
}

.featured-image img {
    display: block;
    width: 100%;
    height: 18.75rem;
    object-fit: cover;
}

.btn {
    border-radius: 0.5rem;
    background-color: $accent-coral;
    color: $primary-color;
    border: none;
    width: 9.5rem;
    padding: 0.5rem 0;
    cursor: pointer;
    box-shadow: $primary-color-lower-opacity 0px 2px 5px 0px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.more-info-btn {
    overflow: hidden;
    text-transform: uppercase;

    &:hover {
        text-indent: 2rem;
    }
}

.featured-work article {
    background-color: $secondary-color;
}

.work-card-toolkit .toolkit {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    font-size: 1rem;

    div:not(:last-child)::after {
        content: "|";
        padding: 0 0.5rem;
    }

    i {
        display: none;
    }
}

.work-toolkit {
    .toolkit {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        cursor: default;

        div {
            background-color: $accent-blue;
            width: 15rem;
            padding: 0.5rem 0;

            border-radius: 0.5rem;
        }

        i,
        .shopify-icon {
            font-size: 2rem;
            vertical-align: bottom;
            margin: 0 0.5rem 0 1rem;
        }

        .shopify-icon {
            height: 2rem;
        }
    }
}

// Responsive Media
img,
video {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}
