@use "variables" as *;
@use "mixins" as *;

[data-theme="dark"] {
    // Global Elements
    color: $base-color-light;

    header {
        background-color: rgba($base-color-dark, 0.7);
    }

    h1::after {
        background-color: #21759b;
    }

    .dark-invert,
    .site-header.hide .nav-btn,
    .contact-page svg {
        filter: invert(1);
    }

    .view-all-works {
        color: $base-color-light;
    }

    // Home Page
    .intro {
        background: linear-gradient(to right, white 8px, transparent 8px) 0 0,
            linear-gradient(to left, white 8px, transparent 8px) 100% 100%,
            linear-gradient(to bottom, white 8px, transparent 8px) 0 0,
            linear-gradient(to top, white 8px, transparent 8px) 100% 100%;

        background-repeat: no-repeat;
        background-size: 3rem 3rem;
    }

    .work-basic-info *,
    .tool-item {
        color: $primary-color;
    }

    // Single Work Page and Work Card
    .single-work-page {
        .hero-slider .slider-counter {
            background: rgba($base-color-light, 0.8);
            color: $base-color-dark;
        }

        .accordion-header {
            background: $secondary-color;
            color: $primary-color;

            .accordion-toggle-arrow {
                filter: none;
            }

            &:hover {
                background: rgba($secondary-color, 0.5);
                color: $base-color-light;

                .accordion-toggle-arrow {
                    filter: invert(1);
                }
            }
        }

        .accordion-content {
            background-color: rgba($primary-color, 0.8);

            .gallery-caption {
                color: rgba($base-color-light, 0.8);
            }
        }

        .other-works .carousel-wrapper .carousel .work-basic-info {
            background-color: rgba($base-color-light, 0.9);
        }
    }

    // Not Found Page
    .page-not-found a {
        &:hover {
            color: $accent-blue;
        }
    }

    // Media Query
    @include mq-large($tablet) {
        a:not(a.btn) {
            color: $base-color-light;
        }
    }
}
