@use "variables" as *;

.intro {
    box-shadow: -80px -80px 0 -70px black, 80px 80px 0 -70px black;
    width: 30rem;
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
    height: 15rem;

    .typewriter {
        font-size: 2.5rem;
        white-space: pre-line;
        text-align: center;
        font-weight: 500;

        &.name {
            color: $accent-coral;
            position: relative;
            width: fit-content;
            margin-left: 1rem;

            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 0.25rem;
                bottom: 0.25rem;
                background-color: $accent-blue;
                left: 0;
                animation: slide-in 1s ease-in 1s;
                transform-origin: left;
                z-index: -1;
            }
        }
    }
}

@keyframes slide-in {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.intro-title {
    width: fit-content;
    margin: 3rem auto;
    white-space: pre-line;
    text-align: center;
}

.featured-work {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 5rem;

    h2,
    .view-all-works {
        grid-column: 1 /4;
        justify-self: center;
    }

    article {
        border-radius: 1rem;
        border: 1px solid $primary-color;

        figure {
            margin: 0;

            img {
                border-radius: 1rem 1rem 0 0;
                height: 15rem;
            }
        }

        .work-basic-info {
            margin: 1rem;

            h3,
            p {
                margin: 0;
            }

            button {
                margin: 0 auto;
            }
        }
    }
}

.scroll-down-btn {
    width: 3rem;
    margin: 5rem auto;
    display: block;
}

.view-all-works {
    margin: 3rem;
}
