@use "variables" as *;
@use "mixins" as *;

.home-intro {
    height: 100vh;

    padding-top: 10rem;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    align-content: center;
    place-items: center;
}

.intro {
    min-height: 15rem;
    min-width: 15rem;
    padding: 2rem;
    text-align: center;

    background: linear-gradient(to right, black 8px, transparent 8px) 0 0,
        linear-gradient(to left, black 8px, transparent 8px) 100% 100%,
        linear-gradient(to bottom, black 8px, transparent 8px) 0 0,
        linear-gradient(to top, black 8px, transparent 8px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 3rem 3rem;

    .typewriter {
        font-size: 2.5rem;
        white-space: pre-line;
        text-align: center;
        font-weight: 500;

        &.name {
            color: $accent-coral;
            position: relative;
            width: fit-content;
            margin-left: 1rem;

            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 0.25rem;
                bottom: 0.25rem;
                background-color: $accent-blue;
                left: 0;
                animation: slide-in 1s ease-in 1s;
                transform-origin: left;
                z-index: -1;
            }
        }
    }

    @include mq-large($tablet) {
        width: 35rem;
        height: 17rem;

        .typewriter {
            font-size: 3.5rem;
        }
    }
}

.intro-title {
    width: fit-content;
    // margin: 3rem auto 0;
    white-space: pre-line;
    text-align: center;
}

.scroll-down-btn {
    width: 3rem;
    // margin: 5rem auto;
    // display: block;
    animation: bounce 1s ease-in-out infinite alternate;
}

@keyframes slide-in {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes bounce {
    from {
        transform: translateY(0);
        opacity: 0.4;
    }
    to {
        transform: translateY(1rem);
        opacity: 1;
    }
}

.featured-work-wrapper {
    padding: 5rem 0;
    text-align: center;

    h2,
    .view-all-works {
        grid-column: 1 /4;
        justify-self: center;
    }

    article {
        max-width: 80%;
        margin: 2rem auto;
        border-radius: 1rem;
        box-shadow: $accent-blue 2px 7px 10px 0px;
        position: relative;
        overflow: hidden;

        figure {
            margin: 0;

            img {
                border-radius: 1rem 1rem 0 0;
                height: 15rem;
            }
        }

        .work-basic-info {
            // margin: 1rem;
            position: absolute;
            top: 70%;
            // padding-top: 1rem;
            width: 100%;
            background-color: $primary-color;
            // opacity: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all 0.3s;

            h3 {
                color: $bg-color-light;
            }

            &:hover {
                // opacity: 1;
                top: 0;
                bottom: 0;
                background-color: $card-bg;

                h3,
                p {
                    margin: 0;
                    color: $bg-color-dark;
                }
            }
        }
    }

    @include mq-large($laptop) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        column-gap: 1rem;
    }
}

.view-all-works {
    font-size: 1.5rem;
    margin: 3rem auto;

    &:after {
        content: "\27F6";
        transform: translateX(20px);
        opacity: 0;
        transition: all 0.2s ease-in-out;
        position: absolute;
    }

    &:hover {
        border-bottom: $accent-coral 2px solid;

        &:after {
            transform: translateX(0);
            opacity: 1;
            margin-left: 0.5rem;
        }
    }
}
