@use "variables" as *;
@use "mixins" as *;

body,
button,
textarea {
    font-family: $body-font;
    color: $primary-color;
    font-size: $default-font-size;
    line-height: $line-height;
}

h1,
h2:not(.single-work-page .subheading),
.nav-links a {
    text-transform: uppercase;
}

h1 {
    font-size: 2.5rem;

    @include mq-large($tablet) {
        font-size: 3rem;
    }
}

h2,
.work-page h3 {
    font-size: 1.3rem;

    @include mq-large($tablet) {
        font-size: 2rem;
    }
}

.typewriter {
    font-size: 2.5rem;
    font-weight: $md-font-weight;

    @include mq-large($tablet) {
        font-size: 3.5rem;
    }
}

footer {
    font-size: 1rem;
}

.single-work-page {
    .subheading {
        font-weight: $md-font-weight;
    }
}

.about-page {
    .entry-content {
        h2 {
            color: $accent-coral;
        }
    }

    .hobbies {
        font-size: 1.5rem;

        @include mq-large($tablet) {
            font-size: 2rem;
        }
    }
}

/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/
a {
    color: $primary-color;
    text-decoration: none;

    #{$link-hover-selector} {
        color: rgba($primary-color, 0.75);
    }
}

a,
button {
    cursor: pointer;
}

.nav-links a,
footer {
    font-weight: $md-font-weight;
}
