@use "variables" as *;
@use "mixins" as *;

body,
button,
textarea {
    font-family: $body-font;
    color: $primary-color;
    font-size: $default-font-size;
    line-height: $line-height;
}

h1,
h2:not(.single-work-page .subheading),
.nav-links a {
    text-transform: uppercase;
}

h1 {
    font-size: 2.5rem;
    margin: 0 1rem;

    @include mq-large($tablet) {
        font-size: 3rem;
        margin-left: 0;
    }
}

h2 {
    font-size: 1.2rem;

    @include mq-large($tablet) {
        font-size: 1.7rem;
    }
}

h3 {
    font-size: 1rem;
    font-weight: 300;
}

.typewriter {
    font-size: 1.5rem;
    font-weight: $md-font-weight;

    @include mq-large($mobileLarge) {
        font-size: 2rem;
    }

    @include mq-large($tablet) {
        font-size: 2.5rem;
    }
}

.typewriter.name {
    font-size: 2rem;

    @include mq-large($mobileLarge) {
        font-size: 2.5rem;
    }

    @include mq-large($tablet) {
        font-size: 3.5rem;
    }
}

footer {
    font-size: $default-font-size;
}

.single-work-page h2.subheading,
.other-works h3,
.work-card h3 {
    font-weight: $md-font-weight;
}

.about-page {
    .entry-content {
        h2 {
            color: $accent-coral;
        }
    }

    .hobbies {
        font-size: 1rem;

        @include mq-large($tablet) {
            font-size: 1.2rem;
        }
    }
}

.tool-item {
    font-size: $smaller-font-size;
}

/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/
a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        color: rgba($primary-color, 0.75);
    }
}

a,
button {
    cursor: pointer;
}

.nav-links a,
footer {
    font-weight: $md-font-weight;
}

.work-external-links a,
.more-info-btn {
    font-size: $default-font-size;
}

.more-info-btn {
    font-size: $smaller-font-size;
}
