// Typography
$body-font: "Raleway", sans-serif;
$default-font-size: 1.125rem;
$line-height: 1.5;
$md-font-weight: 500;

// Colors
$base-color-light: #f7f7f7;
$base-color-dark: #05090f;
$primary-color: #0e1b2f;
$secondary-color: #ccd6d4;
$accent-blue: #99b4bf;
$accent-coral: #f29979;

// Media Query Breakpoints
$mobileLarge: 30em;
$tablet: 48em;
$laptop: 64em;

// Utility variables
$link-hover-selector: "&:hover, &:active, &:focus";
