@use "variables" as *;
@use "mixins" as *;

.work-page {
    .work-card {
        background-color: rgba($secondary-color, 0.7);
        padding: 0 1rem 1rem 1rem;
        margin: 2rem 0;
        box-shadow: $accent-blue 2px 3px 5px 0px;

        .work-page-card-info {
            position: relative;
            z-index: 100;

            .work-card-toolkit .toolkit {
                font-size: 0.8rem;
                justify-content: initial;
            }

            h2 {
                margin: 0;
            }
        }

        figure {
            background-color: $bg-color-light;
            border-radius: 1rem;

            img {
                margin: 1rem auto;
                // object-fit: contain;
                transform: scale(1);
                transition: all 0.5s ease-in;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        a {
            margin: 0 auto;
        }

        @include mq-large($mobileLarge) {
            display: grid;
            align-items: center;
            padding: 1rem 2rem;

            &:nth-of-type(odd) {
                grid-template-columns: 2fr 1fr;

                .work-page-card-info {
                    left: 1rem;
                }
            }

            &:nth-of-type(even) {
                grid-template-columns: 1fr 2fr;

                .work-page-card-info {
                    justify-self: end;
                    order: -1;
                }
            }

            figure img {
                height: 10rem;
            }

            .work-page-card-info {
                .work-card-toolkit .toolkit {
                    font-size: 1rem;
                    margin: 1.5rem 0;
                }
            }
        }

        @include mq-large($tablet) {
            margin: 5rem 0;

            &:nth-of-type(odd) {
                .work-page-card-info {
                    left: -2rem;
                }
            }

            &:nth-of-type(even) {
                .work-page-card-info {
                    // right: -2rem;
                    // justify-self: end;
                }
            }

            figure img {
                height: 20rem;
            }

            a {
                margin: 0;
            }
        }
    }
}

.single-work-page {
    .work-toolkit .toolkit {
        justify-content: start;
    }

    .hero-slider {
        position: relative;
        max-height: 35rem;
        width: 100%;
        overflow: hidden;
        background-color: $bg-color-dark;
        padding: 1rem;
        aspect-ratio: 16 / 9;
        margin: 0 auto;
        display: block;

        figure {
            margin: 0 auto;
            width: 85%;
        }

        .slider-btns {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 0.5rem;
            bottom: 0.5rem;
            gap: 0.5rem;

            button {
                height: 1rem;
                width: 1rem;
                border-radius: 100%;

                &.active {
                    background-color: $accent-blue;
                    border: 1px solid $bg-color-light;
                }
            }
        }
    }

    // .slide {
    //     position: absolute;
    // }

    .work-external-links {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin: 1rem;

        a {
            font-size: 1.2rem;
            #{$link-hover-selector} {
                background-color: $primary-color;
                color: $accent-coral;
            }
        }
    }

    .reflection-table {
        border: 1px solid $primary-color;
    }

    .tablist {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        background-color: rgba($primary-color, 0.8);
        color: $bg-color-light;
    }

    .submenu {
        cursor: pointer;
        padding: 0.5rem 1rem;
        flex-grow: 1;
        text-align: center;
        border: $bg-color-light 1px solid;

        &.react-tabs__tab--selected {
            background-color: rgba($bg-color-light, 0.5);
            color: $primary-color;
        }
    }

    .react-tabs__tab-panel {
        margin: 1rem 2rem;

        li {
            list-style: disc;
        }
    }

    .work-toolkit,
    .overview,
    .reflection-table,
    .collaborators,
    .toolkit-collaborators-wrapper {
        margin: 3rem 1rem;

        p {
            margin: 0;
        }

        @include mq-large($tablet) {
            margin: 3rem auto;
        }
    }

    .toolkit-collaborators-wrapper {
        display: flex;
        justify-content: space-between;

        *:not(h2) {
            margin: 0;
        }

        @include mq-small($mobileLarge) {
            flex-wrap: wrap;
        }
    }

    .related-projects {
        text-align: center;

        .carousel-wrapper {
            // max-width: 100rem;
            // width: 100%;
            overflow: hidden;
            // position: relative;

            .carousel {
                display: flex;
                justify-content: center;
                gap: 1rem;
                transition: transform 0.5s ease-in;

                &.even {
                    transform: translateX(-250px);
                }

                article {
                    position: relative;

                    figure {
                        margin: 0;
                        width: 30rem;
                        overflow: hidden;
                        border: 1px solid $primary-color;
                        border-radius: 1rem 1rem 0 0;

                        img {
                            opacity: 0.7;
                            transition: all 0.2s ease-in-out;

                            &:hover {
                                transform: scale(1.1);
                                opacity: 1;
                            }
                        }
                    }

                    .toolkit,
                    .more-info-btn {
                        display: none;
                    }

                    .work-basic-info {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        background-color: rgba($bg-color-dark, 0.8);
                        color: $bg-color-light;
                        text-align: center;

                        a {
                            color: $bg-color-light;
                        }

                        h3,
                        p {
                            margin: 1rem auto;
                        }

                        h3 {
                            width: fit-content;
                            position: relative;

                            &:after {
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 2px;
                                bottom: 0;
                                left: 0;
                                background-color: $accent-coral;
                                transform: scaleX(0);
                                transition: transform 0.25s ease-out;
                            }

                            &:hover::after {
                                transform: scaleX(1);
                            }
                        }
                    }
                }
            }

            .slider-btns {
                display: flex;
                gap: 2rem;
                justify-content: center;
                margin: 2rem 0;

                button {
                    cursor: pointer;
                    border-radius: 100%;
                    border: 1px solid rgba($primary-color, 0.5);
                    display: flex;
                    align-items: center;
                    height: 3rem;
                    width: 3rem;

                    &.right {
                        transform: rotate(180deg);
                    }

                    &:hover {
                        background-color: $bg-color-dark;
                        border: 1px solid $bg-color-light;

                        img {
                            filter: invert(1);
                        }
                    }

                    &.disabled {
                        background-color: rgba($primary-color, 0.3);
                        cursor: default;

                        img {
                            filter: invert(0);
                        }
                    }
                }
            }
        }
    }

    @include mq-small($mobileLarge) {
        .subheading {
            margin-left: 1rem;
        }
    }
}

.more-info-btn {
    overflow: hidden;
    text-transform: uppercase;
    position: relative;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: $primary-color;
        color: $accent-coral;
    }

    @include mq-large($laptop) {
        &:hover {
            text-indent: 2rem;
            background-color: $accent-coral;
            color: $primary-color;

            &:before {
                content: "\00bb";
                background-color: $primary-color;
                color: $accent-coral;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 2.5rem;
                font-size: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 1.5rem;
            }
        }
    }
}

.featured-work-wrapper article {
    background-color: $secondary-color;
}

.work-card-toolkit .toolkit {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 0;
    font-size: 1rem;

    div:not(:last-child)::after {
        content: "|";
        padding: 0 0.5rem;
    }

    i {
        display: none;
    }
}

.work-toolkit .toolkit,
.tool-group .tool-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    cursor: default;

    div {
        background-color: $accent-blue;
        width: 15rem;
        padding: 0.5rem 0;
        border-radius: 0.5rem;

        &:hover {
            transform: scale(1.1);
        }
    }

    i,
    .shopify-icon {
        font-size: 1.5rem;
        vertical-align: bottom;
        margin: 0 0.5rem 0 1rem;
    }

    .shopify-icon {
        height: 1.5rem;
    }
}
